<!-- HEADER -->
<!-- <header> -->
    <!-- TOP HEADER -->
    <!-- <div id="top-header">
        <div class="container py-2">
            <ul class="header-links pull-left">
                <li><a href="#"  *ngIf='isLoggedIn'><i class="fa fa-phone"></i>Store</a></li>
                <li><a *ngIf='isAdmin' "><i class="fa fa-envelope-o"></i>Admin Dashboard</a></li> -->
                <!-- <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li> -->

            <!-- </ul> -->
            <!-- <ul class="header-links pull-right"> -->
                <!-- <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li> -->
                <!-- <li><a *ngIf='isLoggedIn' routerLink="/user-orders"><i class="fa fa-user-o"></i>Order</a></li>
                <li><a *ngIf='!isLoggedIn' routerLink="/signup" routerLinkActive="active"><i class="fa fa-user-o"></i>Register</a></li>
                <li><a *ngIf='!isLoggedIn' routerLink="/login" routerLinkActive="active"><i class="fa fa-arrow-circle-right"></i>Login</a></li>
                <li><a routerLink="/login" *ngIf='isLoggedIn' (click)='logout()'><i class="fa fa-arrow-circle-right"></i>Logout</a></li>
                <li><a routerLink="/admin"><i></i></a></li> -->
<!-- 
            </ul>
        </div>
    </div> -->
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <!-- <div id="header"> -->
        <!-- container -->
        <!-- <div class="container"> -->
            <!-- row -->
            <!-- <div class="row"> -->
                <!-- LOGO -->
                <!-- <div class="col-md-3"> -->
                    <!-- <div class="header-logo"> -->
                        <!-- <a href="#" class="logo"> -->
                            <!-- <img src="/assets/img/logo.png" alt=""> -->
                        <!-- </a> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- /LOGO -->

                <!-- <div class="col-lg-6 col-sm-12"> -->
                    <!-- <form action="#" class="search"> -->
                        <!-- <div class="input-group w-99"> -->
                            <!-- <input type="text" class="form-control" placeholder="Search"> -->
                            <!-- <div class="input-group-append"> -->
                              <!-- <button class="btn btn-danger" type="submit"> -->
                                <!-- <i class="fa fa-search"></i> -->
                              <!-- </button> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </form>  -->
                <!-- </div> -->

                <!-- SEARCH BAR -->
                <!-- <div class="col-md-6">
                    <div class="header-search">
                        <form class="form-group">
                            <select class="input-select">
                                <option value="0">All Categories</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select>
                                <input class="input" [(ngModel)]="searchTerm" name="search" (keyup)="search($event)" placeholder="Search here">
                                <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div> -->
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <!-- <div class="col-md-3 clearfix">
                    <div class="header-ctn"> -->
                        <!-- Wishlist -->
                        <!-- <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">{{totalItem}}</div>
                            </a>
                        </div> -->
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <!-- <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" *ngIf='isLoggedIn'>
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">{{numberOfItems}}</div>
                            </a>
                            <div class="cart-dropdown"> -->
                                <!-- <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="./img/product01.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>0</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div> -->

                                    <!-- <div class="product-widget">
                                        <div class="product-img">
                                            <img src="./img/product02.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div> -->
                                <!-- </div> -->
                                <!-- <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: {{ 0 | currency}}</h5>
                                </div> -->
                                <!-- <div class="cart-btns">
                                    <a routerLink="/cart" *ngIf='isLoggedIn'>View Cart</a> -->
                                    <!-- <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a> -->
                                    <!-- <a routerLink="/checkout" *ngIf='isLoggedIn' routerLinkActive="active">Checkout<i class="fa fa-arrow-circle-right"></i></a> -->
<!-- 
                                </div>
                            </div>
                        </div> -->
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <!-- <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div> -->
                        <!-- /Menu Toogle -->
                    <!-- </div>
                </div> -->
                <!-- /ACCOUNT -->
            <!-- </div> -->
            <!-- row -->
        <!-- </div> -->
        <!-- container -->
    <!-- </div> -->
    <!-- /MAIN HEADER -->
<!-- </header> -->
<!-- /HEADER -->

<!-- NAVIGATION -->
<!-- <nav id="navigation"> -->
    <!-- container -->
    <!-- <div class="container"> -->
        <!-- responsive-nav -->
        <!-- <div id="responsive-nav"> -->
            <!-- NAV -->
            <!-- <ul class="main-nav nav py-3">
                <li class="active"><a routerLink="/">Home</a></li>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Contact Us</a></li> -->
                <!-- <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Accessories</a></li> -->
            <!-- </ul> -->
            <!-- /NAV -->
        <!-- </div> -->
        <!-- /responsive-nav -->
    <!-- </div> -->
    <!-- /container -->
<!-- </nav> -->
<!-- /NAVIGATION -->


<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i  style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong class = "store" style="font-size: 30px;">Shopping Store</strong>
            <div class="form-group">
                
                <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


            <div id="top-header">
                <div class="container py-2">
                    <ul class="header-links pull-left">
             
                        <li><a href="#" *ngIf="isAdmin" routerLink="/admin"><i class="fa fa-envelope-o"></i>Admin Dashboard</a></li> 
                     
        
                    </ul>
                 
              <ul class="header-links pull-right"> 
               
               
                <li><a *ngIf='isLoggedIn' routerLink="/user-orders"><i class="fa fa-user-o"></i>Order</a></li>
                <li><a *ngIf='!isLoggedIn' routerLink="/signup" routerLinkActive="active"><i class="fa fa-user-o"></i>Register</a></li>
                <li><a *ngIf='!isLoggedIn' routerLink="/login" routerLinkActive="active"><i class="fa fa-arrow-circle-right"></i>Login</a></li>
                <li><a routerLink="/login" *ngIf='isLoggedIn' (click)='logout()'><i class="fa fa-arrow-circle-right"></i>Logout</a></li>
                <li><a routerLink="/admin"><i></i></a></li>

                
            </ul>
            </div>
            </div> 

        </div>
        <button routerLink="/cart" *ngIf='isLoggedIn' class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>



